<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.limefriends.molde">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MoldeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".MoldeSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".molde_tutorial.MoldeTutorialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".molde_sub_desc.MoldeSubDescActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".MoldeMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />
        <!-- 지도 관련 -->
        <activity
            android:name=".menu_map.search.MoldeSearchMapInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".menu_map.report.MoldeReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_map.favorite.MoldeMyFavoriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_map.camera_manager.MoldeReportCameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_map.gallery_manager.MoldeReportGalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_map.camera_manager.MoldeReportCheckImage"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />

        <!-- 매거진 관련 -->
        <activity
            android:name=".menu_magazine.magazineReport.MagazineReportMolcaDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_magazine.magazineReport.MagazineReportLocationDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_magazine.magazineReport.MagazineReportSpreadDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_magazine.cardnews.CardnewsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".menu_magazine.comment.CommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- 마이페이지 관련 -->
        <activity
            android:name=".menu_mypage.MyPageSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_mypage.MyPageInquiryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_mypage.faq.MoldeMyPageFaQActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_mypage.report.MypageMyReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".menu_mypage.report.MyPageMyReportDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".menu_mypage.comment.MoldeMyPageMyCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_mypage.scrap.MypageMyScrapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_mypage.MyPageLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAqi9cIlxH_iWsEpaXuuQ2EJ-rGFAoVT1g" />

        <!-- Facebook OAUTH -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>