<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.limefriends.molde">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MoldeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".MoldeSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".molde_tutorial.MoldeTutorialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme"/>
        <activity
            android:name=".molde_sub_desc.MoldeSubDescActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme"/>
        <activity
            android:name=".MoldeMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />
        <!-- 지도 관련 -->
        <activity
            android:name=".menu_map.MoldeSearchMapInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".menu_map.MoldeReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_map.MoldeMyFavoriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_map.cameraManager.MoldeReportCameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_map.galleryManager.MoldeReportGalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_map.cameraManager.MoldeReportCheckImage"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />

        <!-- 매거진 관련 -->
        <activity
            android:name=".menu_magazine.MagazineReportDetail01Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_magazine.MagazineReportDetail02Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_magazine.MagazineReportDetail03Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_magazine.MagazineCardnewsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".menu_magazine.MagazineCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- 마이페이지 관련 -->
        <activity
            android:name=".menu_mypage.MoldeMyPageSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_mypage.MoldeMyPageInquiryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_mypage.MoldeMyPageFaQActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_mypage.MoldeMypageMyReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_mypage.MoldeMyPageMyCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_mypage.MoldeMypageMyScrapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_mypage.MoldeMypageLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAqi9cIlxH_iWsEpaXuuQ2EJ-rGFAoVT1g" />

        <!-- Facebook OAUTH -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>