<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.limefriends.molde">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MoldeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name=".MoldeMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 지도 관련 -->
        <activity
            android:name=".menu_map.MoldeSearchMapInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".menu_map.MoldeReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_map.MoldeMyFavoriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_map.cameraManager.MoldeReportCameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_map.galleryManager.MoldeReportGalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_map.cameraManager.MoldeReportCheckImage"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />

        <!-- 매거진 관련 -->
        <activity
            android:name=".menu_magazine.MagazineReportDetail01Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_magazine.MagazineReportDetail02Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_magazine.MagazineReportDetail03Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_magazine.MagazineCardnewsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".menu_magazine.MagazineCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- 마이페이지 관련 -->
        <activity
            android:name=".menu_mypage.MoldeMyPageSettings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_mypage.MoldeMyPageInquiry"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".menu_mypage.MoldeMyPageFaQ"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAqi9cIlxH_iWsEpaXuuQ2EJ-rGFAoVT1g" />


        <activity android:name=".menu_mypage.MoldeMyPageInquiry" />
        <activity android:name=".menu_mypage.MoldeMyPageFaQ" />

    </application>

</manifest>